doctype html
htmi(lang="en")
head
    title Theta Business Systems
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="assets/css/main.css")
    
    body
        .page-home
            header
                img.avatar(src="assets/img/header.jpg")
                h1.page-title Theta Business Systems
                
            section
                article
                    p Brought to you by
                    .name-lockup
                        img.avatar(src="assets/img/avatar.jpg")
                        .name
                            strong Larry Jones
                            br
                            a(href="mailto:thetabus@gmail.com") thetabus@gmail.com
        
        script(src="assets/js/jquery-2.1.4.min.js")
        script(src="assets/js/functions.js" type="text/javascript")
                            
